<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  
  <head>
  	<meta charset="utf-8">

  </head>
  <head th:replace="init :: _head"/> 
  <script src="js/script_publicaciones.js"></script>
  <body>
    <header th:replace="init :: _header" > </header>


    <div class="container">
    	<div id="gestion_tablas">
			<h1 style="text-align: center;">Consultar Total publicaciones por lenguaje</h1>
			
			<div class="row mt-4 mb-4">

			

				<div class="col-sm-12">
					<button type="button" class="btn btn-success" onclick="q_lenguajes()">Consultar</button>

				</div>
				
				<hr>
				<div class="table-responsive">
					<table class="table my-3">
						<thead >
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Lenguaje</th>
							<th scope="col">Total publicaciones</th>
					
						  </tr>
						</thead>
							<tbody id="tabla_lenguajes">
							</tbody>
						
					  </table>
				</div> 
				
			</div>
			
		</div>
    </div>

  </body>
</html>